{% extends 'adminbase.html' %}
{% load static %}
{% block title %}
Add Reports
{% endblock title %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" style="color:red    " role="alert" style="text-align: center;">
    {{ message }}
  </div>
{% endfor %}
</div>
<style>
    .form-control{
        width: 50%;
        display: inline-block;
    }
    .errorlist
    {
        color: white;
        border: 2px solid red;
        border-radius: 5px;
        list-style-type: none;
        background: linear-gradient(135deg, #fc685d 60%, red);
        padding-top:5px;
        padding-bottom:5px;
    }
</style>
<h1 class="text-center" style="margin-top: 40px;">Add Reports</h1>

<div style="width: 60%; margin-left: 20%;  margin-top: 4%;">
    <form action="" method="POST" class="text-center">
        {% csrf_token %}

        {{ form.as_p }}

        <button style="margin-bottom: 80px;" type="submit" value="Submit" class="btn btn-info" onclick="return confirm('Are you sure you want to add this report?')">Submit</button>
        <br>
    </form>
</div>

{% endblock content %}

