{% extends 'userbase.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
<h1 class="text-center" style="margin-top: 40px; color: black;">Dashboard</h1>
<br>
<div style="width: 100%; height: 100%;">
  <div class="container">
    <div class="row">
      <div class="col" style="margin-bottom: 40px; margin-left: 15px;">
        <div class="card bg-light border-dark" style="width: 10rem;">
          <div class="card-body" style="text-align: center;">
            <h6 class="card-subtitle mb-2 text-muted">Total<br>Doctors</h6>
            <h1 class="card-title">{{doctorscount}}</h1>
            <a href="/user_view_doctors" class="btn btn-outline-secondary">View</a>
          </div>
        </div>
      </div>
      <div class="col" style="margin-bottom: 40px;">
        <div class="card bg-light border-dark" style="width: 10rem;">
          <div class="card-body" style="text-align: center;">
            <h6 class="card-subtitle mb-2 text-muted">Total<br>Reports</h6>
            <h1 class="card-title">{{reportcount}}</h1>
            <a href="/user_view_reports" class="btn btn-outline-secondary">View</a>
          </div>
        </div>
      </div>
      <div class="col" style="margin-bottom: 40px;">
        <div class="card bg-light border-dark" style="width: 10rem;">
          <div class="card-body" style="text-align: center;">
            <h6 class="card-subtitle mb-2 text-muted">Total<br>Services</h6>
            <h1 class="card-title">{{servicecount}}</h1>
            <a href="/user_view_services" class="btn btn-outline-secondary">View</a>
          </div>
        </div>
      </div>
      <div class="col" style="margin-bottom: 40px;">
        <div class="card bg-light border-dark" style="width: 10rem;">
          <div class="card-body" style="text-align: center;">
            <h6 class="card-subtitle mb-2 text-muted">Finished Appointments</h6>
            <h1 class="card-title">{{finishedappointmentcount}}</h1>
            <a href="/user_book_appointment" class="btn btn-outline-secondary">Book New</a>
          </div>
        </div>
      </div>
      <div class="col" style="margin-bottom: 40px;">
        <div class="card bg-light border-dark" style="width: 10rem;">
          <div class="card-body" style="text-align: center;">
            <h6 class="card-subtitle mb-2 text-muted">Pending Appointments</h6>
            <h1 class="card-title">{{pendingappointmentcount}}</h1>
            <a href="/user_view_appointment" class="btn btn-outline-secondary">View</a>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-left:1%; ">
      <div class="panel-heading" style="text-align:center;">
        <h4 class="panel-title">Upcoming Appointments</h4><br>
      </div>
      <table class="table table-bordered">
        <thead > 
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Service</th>
          <th>Doctor</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for a in appointment %}
      <tr>
        <td> {{a.patientUser}}</td>
        <td>{{a.date}}</td>
        <td>{{a.time}}</td>
        <td>{{a.service}}</td>
        <td>{{a.doctor}}</td>
        <td>{{a.description}}</td>
        <td> <button class="btn btn-sm btn-warning" disabled data-bs-toggle="button" >Confirmed</button></td>
      </tr>
      {% endfor %}
      </table>
    </div>
    <a type="button" class="btn btn-secondary" href="/user_view_appointment" style="margin-left: 43%;" >View all appointments</a>
  </div>

{% endblock content %}
