<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta name="keywords" content="Django-HTML">
  <meta name="author" content="Abhishek Rokaya">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Loading CSS for saving the table and searching it -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

  <!-- Loading JavaScript for saving the table and searching it-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

  <script>
    $(document).ready(function () {
      $('#example').DataTable({
        dom: 'Bfrtip',
      });
    });
  </script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>{% block title %}{% endblock title %} | Phulchowki Dental Care</title>
</head>

<body>
  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar" style="height: 35%;">
      <img src="{% static patientUser.profile_picture .url %}" width="50px" height="100px"/>
      <br><br>
      <h6 style="color: black;">{{user.first_name}}</h6>
    </header>

    <ul>
      <li tabindex="0" class="icon-dashboard"> <a style="color:black; text-decoration:none;" href="/userdashboard"><span>Dashboard</span></a> </li>
      <li tabindex="0" class="icon-calendar"> <a style="color:black; text-decoration:none;" href="/userappointment"><span>Appointments</span></a></li>
      <li tabindex="0" class="icon-doctor"> <a style="color:black; text-decoration:none;" href="/user_view_doctors"><span>Doctors</span></a></li>
      <li tabindex="0" class="icon-report"> <a style="color:black; text-decoration:none;" href="/user_view_reports"><span>Reports</span></a></li>
      <li tabindex="0" class="icon-service"> <a style="color:black; text-decoration:none;" href="/user_view_services"><span>Services</span></a></li>
      <li tabindex="0" class="icon-profile"> <a style="color:black; text-decoration:none;" href="/user_view_profile"><span>My Profile</span></a></li>
      
    </ul>
  </nav>
  <main>
    <!-- nav start -->
    <div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:#2677C2;">
        <a href="/userdashboard" class="navbar-brand" style="margin-left: 20px;">Phulchowki Dental Clinic</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 90%;">
              <a type="button" class="btn" onclick="return confirm('Are you sure you want to logout?')" href="/logout" style="border-color: black;">Logout</a>
          </div>
        </div>
      </nav>
    </div>
    <!-- nav end -->
    <br><br>
    <!-- content start-->
    {% block content %}
    {% endblock content %}
    <!-- content end-->
    <footer style="position: fixed; left: 0; bottom: 0; width: 100%;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div style="color:#ffffff; padding-left: 20%;" class="wow fadeInUp footer-copyright">
              <p> Copyright &copy; 2022 Phulchowki Dental Clinic </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </main>
</body>

</html>