{% extends 'userbase.html' %}
{% load static %}
{% block title %}
Profile
{% endblock title %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert" style="text-align: center;">
    {{ message }}
  </div>
{% endfor %}
<style>
    .profile{
        background-color: #EBF6FF;
        width: 85%;
        height: 65%;
        margin-left: 8%;
        line-height: 200%;
    }
    .form-control{
        width: 50%;
        display: inline-block;
    }

</style>
<h1 class="text-center" style="margin-top: 3%; margin-bottom: 3%;">Update Your Profile</h1>
<div style="width: 60%; margin-left: 20%;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ u_form.as_p }}
    {{ p_form.as_p }}

    <button type="submit" class="btn btn-info" onclick="return confirm('Are you sure you want to update your profile?')" style="margin: 0 0 7% 45%;">Update</button>
</form>
</div>

{% endblock content %}
